$accordionTextColor: #263238;
$accordionBgColor: #ffffff;

$accordionBtnBgColor: #e3f2fd;
$accordionBtnBgColorHover: #e3f2fd;
$accordionBtnColor: #4a4a4a;
$accordionBtnFontSize: 15px;
$accordionBtnIconFontSize: 24px;
